<div class="header">
    <ngb-carousel>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <a routerLink="/afficheEtudiant">    <img src="../../../assets/img/etet.jpg" alt="Random first slide"></a>
            
          </div>
          <div class="carousel-caption">
            <h3>Notre Etudiants le future de notre pays</h3>
            <button class="btn btn-light" style="margin-left:780px; margin-top:30px;background-color: #60ccd2;color:white;" routerLink="/afficheEtudiant">poursuivre</button>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <a routerLink="/afficheEnseignant">  <img src="../../../assets/img/2.jpg" alt="Random second slide"></a>
          </div>
          <div class="carousel-caption">
            <h3 >Notre Enseignant notre fierté</h3>
            <button class="btn btn-light" style="margin-left:780px; margin-top:30px;background-color: #60ccd2;color:white;" routerLink="/afficheEnseignant">poursuivre</button>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <a routerLink="/afficheUniversite"> <img src="../../../assets/img/3.jpg" alt="Random third slide"></a>
          </div>
          <div class="carousel-caption">
            <h3 >Decouvrir nos Universités</h3>
            <button class="btn btn-light" style="margin-left:780px; margin-top:30px;background-color: #60ccd2;color:white;" routerLink="/afficheUniversite">poursuivre</button>
          </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
           <img src="../../../assets/img/salle.jpg" alt="Random third slide"> 
            </div>
            <div class="carousel-caption">
              <h3 >Nos Salles </h3>
              <button class="btn btn-light" style="margin-left:780px; margin-top:30px;background-color: #60ccd2;color:white;" routerLink="/afficheSalle">poursuivre</button>
            </div>
          </ng-template>
      </ngb-carousel>
</div>


  