<h1 style="color: #74adb4;margin-top: 50px;margin-left: 500px;"> Contactez Nous </h1>
<div>
    <img src="../../../assets/img/fbb.png" style="width: 100px;height: 80px;margin-left: 200px;margin-top: 50px;" alt="Random third slide">   https://www.facebook.com/sesametunisie
    
</div> 
<div>
    <img src="../../../assets/img/site2.png" style="width: 100px;height: 80px;margin-left: 200px;margin-top: 50px;" alt="Random third slide">   www.universitesesame.com
</div>
<div>
    <img src="../../../assets/img/in.png" style="width: 100px;height: 80px;margin-left: 200px;margin-top: 50px;" alt="Random third slide">   UniversiteSesame.linkdin
</div>
<div>
    <img src="../../../assets/img/telephone.png" style="width: 100px;height: 80px;margin-left: 200px;margin-top: 50px;" alt="Random third slide">   (+ 216) 70 686 486 / 97 397 292
</div>
<div>
    <img src="../../../assets/img/maiil.png" alt="Random third slide" style="width: 100px;height: 80px;margin-left: 200px;margin-top: 50px;" >   sesame@sesame.com.tn
</div>